<main class="container">
    <div class="personal-info">
        <h3>Personal Information</h3>
        <small>Edit client's personal details</small>
        <form action="post" class="client-page-forms">
            <div>
                <label for="">First name</label>
                <input type="text">
            </div>
            <div>
                <label for="">Last name</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">Phone Number</label>
                <input type="text" name="" id="">
            </div>
        </form>
        <button class="client-btn">Save Changes</button>
    </div>
    <div class="create-new-loan">
        <h3>Add new loan</h3>
        <form action="" class="client-page-forms">
            <div>
                <label for="">Loan Amount</label>
                <input type="text">
            </div>
            <div>
                <label for="">Loan Duration</label>
                <input type="text">
            </div>
            <div>
                <label for="">Instalment Amount</label>
                <input type="text">
            </div>
        </form>
        <button class="client-btn">Add</button>
    </div>
</main>