<main class="container" id="loan-info">
    <div class="loan-schedule">
        <h3>Loan Schedule</h3>
        <table>
            <tr>
                <th>Instalment</th>
                <th>Instalment Dates</th>
            </tr>
            <tr>
                <td>1</td>
                 <td>01/03/2021</td>
            </tr>
            <tr>
                <td>2</td>
                 <td>01/03/2021</td>
            </tr>
            <tr>
                <td>3</td>
                 <td>01/03/2021</td>
            </tr>
            <tr>
                <td>4</td>
                 <td>01/03/2021</td>
            </tr>
            <tr>
                <td>5</td>
                 <td>01/03/2021</td>
            </tr>
            
        </table>
    </div>
    <div class="other-loan-info">
        <h3>Loan Information</h3>
        <p>Initial Loan Balance:</p>
        <div>
            <p>OLB</p>
            <p>pie chart with percentage in middle</p>
        </div>
        <p>instalment Amount</p>
        <p>Loan Duration</p>
    </div>
</main>