<main class="container">
    <div class="loan schedule">
        <p>this will be the loan schedule</p>
    </div>
    <div class="other-loan-info">
        <p>other metrics will be here</p>
    </div>
</main>