<section class="show-client container" id="viewclient">
    <aside class="client-aside">
        <div>
            <p id="client-name"><%= @client.name%></p>
            <small id="phone-no">Phone No: <%= @client.phone_no%></small>
        </div>
        <div class="aside-info-hub">
            <div class="information-btn" id="p-info">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <p>Personal Information</p>
                </div>
            </div>
            <div class="information-btn" id="l-info">
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <div>
                    <p>Loan Information</p>
                </div>
            </div>
        </div>
    </aside>
    <section id="client-info" class="client-information container">
        <div id="client-display">
            <%= render 'shared/client_personal_info', client: @client%>
        </div>
        <div id="loan-display">
            <%= render 'shared/loan_info', client: @client %>
        </div>
        
    </section>
</section>