<main class="show-client container">
    <aside class="client-aside">
        <div>
            <p>Client Name</p>
            <small>Phone No: 0123456789</small>
        </div>
        
        <div class="aside-info-hub">
            <div class="information-btn">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <p>Personal Information</p>
                </div>
            </div>
            <div class="information-btn vv">
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <div>
                    <p>Loan Information</p>
                </div>
            </div>
        </div>
    </aside>
    <section class="client-information">
        render either the personal info or the loan info
    </section>
</main>