<section class="show-client container" id="viewclient">
    <aside class="client-aside">
        <div>
            <p><%= @client.name%></p>
            <small>Phone No: <%= @client.phone_no%></small>
        </div>
        <div class="aside-info-hub">
            <div class="information-btn">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <%= link_to "Personal Information", clientinformation_path, remote: true, id: "p-info", class: "load-info"%>
                </div>
            </div>
            <div class="information-btn" id= "l-info">
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <div>
                    <%= link_to "Loan Information", loaninformation_path, remote: true, id: "l-info", class: "load-info"%>
                </div>
            </div>
        </div>
    </aside>
    <section id="client-info" class="client-information container">
        
    </section>
</section>