@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
    background-color: #e2f3f5;
    margin: 0;

}
a {
    text-decoration: none;
}

p, h1 {
    margin: 0;
}

/** nav bar **/

/** nav on sign up page **/
.nav-sign-up {
    display: flex;
    justify-content: space-between;
}

.top-navbar {
    padding: 1em;
    .navbar-brand {
        display: none;
    }
}
.mobile-menu {
    display: none;
}
.navigation-links {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 66%;
    background-color: #0e1539;
    height: 100vh;
    padding: 1em;
    ul {
        list-style: none;
        padding-left: 0;
        margin-top: 5em;
    }

    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.3em;
            text-align: right;
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: 0.5em;
    cursor: pointer;
}
.mobile-cta {
    cursor: pointer;
}

.search-form {
    border: 0.5px solid lightgray;
    padding: 0.8em 0.8em;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
}
.input {
    input {
        border: none;
        background-color: #cff4f8;
        padding: 0.5em 1em;
        border-radius: 20px;
        color:grey;
    }
    .input-group-search {
        display: none;
    }
}

/** Home page ***/

.home {
    background-color: #eef0f0;
    margin-top: 1em;
}

.welcome-section {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    .user-name {
        font-weight: bold;
        font-size: 1.5em;
        letter-spacing: 1.5px;
    }
    .add-client-btn {
        border-radius: 20px;
        padding: 0.5em 2em;
        border: none;
        background-color: #3d59f7;
        a {
            color: white;
        }
    }
}
.stats {
    width: 100%
}

.stats-box {
    border: 0.5px solid lightblue;
    position: relative;
    margin: 20px auto;
    padding: 3em 0;
    max-width: 80%;
}

.stat {
    text-align: center;
}
.sec-text {
    background-color: #3d59f7;
    padding: 0.25em 0.5em;
    color: white;
    position: absolute;
    top: 0px;
    width: 50%;
   
}
.clients-due {
    .row {
        margin: 5px 0.5px;
    }
}

.client {
    border: 0.5px solid lightblue;
    box-shadow: 0.5px 1px 1.5px rgba(0,0,0,0.3);
    padding: 1em 0;
    border-radius: 5px;

}

/*** show client page **/
.aside-info-hub {
    margin-top: 2em;
    display: flex;
}
.information-btn {
    padding: 1em;
    border: 0.5px solid lightblue; 
    background-color: #cff4f8;
    text-align: center;

    width: 100%;
}

.icon {
    display: none;
}

.client-information {
    height: 70%;
    width: 100%;
    background-color: #19aa8d;
    padding-top: 2em;
}

/** client-personal-info partial ***/

.personal-info {

    small{
        text-align: center;
        color: white;
        display: block;
        margin: 0 auto;
    }
}

.create-new-loan {
    margin: 2.5em 0;
    border-top: 0.5px solid lightblue;
}

.client-page-forms {
    margin: 1.5em 0;
    input {
        display: block;
        width: 100%;
        padding: 0.5em 0.5em;
    }
    label {
        margin-top: 1em;
    }
}
.client-btn {
    background-color: #3d59f7;
    width: 10em;
    color: white;
    border-radius: 25px;
    padding: 0.5em 0;
    border: none;
    display: block;
    margin: 0 auto;
}

/* loan info partial **/

.loan-schedule {
    margin-bottom: 2.5em;
    table {
        width: 100%;
        margin-top: 1.5em;
        th,td {
            padding: 0.5em;
            border: 0.5px solid whitesmoke; 
            text-align: center; 
        }
    }
}

.other-loan-info {
    border-top: 0.5px solid lightblue;
    padding: 1em 0;
    
    h3 {
        margin-bottom: 1em;
    }
    p {
        display: block;
        margin-bottom: 1em;
    }
}



/** sign up form **/

.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
    border-radius: 0;
}

.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
    h2 {
        color: #636363;
        text-align: center;
        margin: 0 0 15px;
    }
    form {
        border-radius: 1px;
        margin-bottom: 15px;
        background: #fff;
        border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
        padding: 30px;
    }

    a {
        color: #19aa8d;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    label {
        font-weight: normal;
        font-size: 13px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        min-height: 38px;
        box-shadow: none !important;
        border-width: 0 0 1px 0;
    }

    .input-group-addon {
        max-width: 42px;
        text-align: center;
        background: none;
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #e1e1e1;
        padding-left: 5px;
    }
    .btn {
        font-size: 16px;
        font-weight: bold;
        background: #19aa8d !important;
        border-radius: 3px;
        border: none;
        min-width: 140px;
    }
    .btn:hover {
        background: #179b81 !important;
    }

    .fa {
        font-size: 21px;
        position: relative;
        top: 8px;
    }
    .fa-paper-plane {
        font-size: 17px;
    }
    .fa-check {
        color: #fff;
        left: 9px;
        top: 18px;
        font-size: 7px;
        position: absolute;
    }
    .text-centre {
        text-align: center;
    }
}

#error-explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

@media only screen and (min-width: 767.98px) {
    /** navigation bar ***/

    /** navigation on sign up page **/
    .nav-sign {
        display: flex;
        justify-content: space-between;
    }

    /** other pages **/
    .mobile-cta, .mobile-menu-exit {
        display: none;
    }  
    
    .top-navbar{
        .navbar-brand {
            display: block;
            padding-left: 0;
        }
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .search-form {
        box-shadow: none;
        border: none;
    }
    .input {
        input {
            border: 0.5px solid lightblue;
            padding-left: 1em;
        }
    }
    .mobile-menu {
        display: block;
    }

    .navigation-links {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: inherit;  
        padding-right: 0;          
        ul {
            margin-top: 0;
            li {
                float: left;
                a {
                    padding-top: 0;
                    color: gray;
                    text-decoration: none;
                    &:hover {
                        font-weight: normal;
                    }
                }
            }
        }
    }
/** home page ***/

.user-stats {
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid lightblue;
    margin-top: 20px;
}

.stats-box {
    border: none;
    margin: 20px 0;
    width: 300px;
}

.user-stats > div:nth-child(2) {
    border-right: 0.5px solid lightblue;
    border-left:  0.5px solid lightblue;
}

.sec-text {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    background-color: inherit;
    color: black;
}
   
}

@media only screen and (min-width: 1080px) {
    .stats-box {
        width: 500px;
    }
}
