@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/** sign up form **/

.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
    border-radius: 0;
}

.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
    h2 {
        color: #636363;
        text-align: center;
        margin: 0 0 15px;
    }
    form {
        border-radius: 1px;
        margin-bottom: 15px;
        background: #fff;
        border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
        padding: 30px;
    }

    a {
        color: #19aa8d;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    label {
        font-weight: normal;
        font-size: 13px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        min-height: 38px;
        box-shadow: none !important;
        border-width: 0 0 1px 0;
    }

    .input-group-addon {
        max-width: 42px;
        text-align: center;
        background: none;
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #e1e1e1;
        padding-left: 5px;
    }
    .btn {
        font-size: 16px;
        font-weight: bold;
        background: #19aa8d !important;
        border-radius: 3px;
        border: none;
        min-width: 140px;
    }
    .btn:hover {
        background: #179b81 !important;
    }

    .fa {
        font-size: 21px;
        position: relative;
        top: 8px;
    }
    .fa-paper-plane {
        font-size: 17px;
    }
    .fa-check {
        color: #fff;
        left: 9px;
        top: 18px;
        font-size: 7px;
        position: absolute;
    }
    .text-centre {
        text-align: center;
    }
}

#error-explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}
