@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

body {
    margin: 0;
    background-color: #DFE1EE;
    font-family: 'Poppins', sans-serif; 
}
.home {
    background-color: #F5F5FD;
}
.btn {
    background-color: #14121F;
}
a {
    text-decoration: none;
}

p, h1 {
    margin: 0;

}

.toggle-display {
    display: none;
}

/** nav bar **/

/** nav on sign up page **/
.nav-sign-up {
    display: flex;
    justify-content: space-between;
}

.top-navbar {
    padding: 1em;
    .navbar-brand {
        display: none;
    }
}
.mobile-menu {
    display: none;
}
.navigation-links {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 66%;
    height: 100vh;
    padding: 1em;
    background-color: black;
    ul {
        list-style: none;
        padding-left: 0;
        margin-top: 5em;
    }

    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.3em;
            text-align: right;
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: 0.5em;
    cursor: pointer;
}
.mobile-cta {
    cursor: pointer;
}

.search-form {
    border: 0.5px solid lightgray;
    padding: 0.8em 0.8em;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
}

.mobile-home {
    i {
        font-size: 2.2rem;
        margin-top: 0.5rem;
        margin-right: 1.4rem;
    }
}
.input {
    input {
        border: none;
        padding: 0.5em 1em;
        border-radius: 20px;
        width: 90%;
        color:grey;
    }
    .input-group-search {
        display: none;
    }
}

/** Home page ***/

.home {

    margin-top: 1em;
}

.welcome-section {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    .user-name {
        font-weight: bold;
        font-size: 1.5em;
        letter-spacing: 1.5px;
    }
    .add-client-btn {
        border-radius: 20px;
        padding: 0.5em 2em;
        border: none;
        a {
            color: white;
        }
    }
}
.stats {
    width: 100%
}

.stats-box {
    border: 0.5px solid black;
    position: relative;
    margin: 20px auto;
    padding: 3em 0;
    max-width: 80%;
}

.stat {
    text-align: center;
    color: #14121F;
}
.sec-text {

    padding: 0.25em 0.5em;
    color: #14121F;
    position: absolute;
    top: 0px;
    width: 50%;
   
}
.clients-due {
    .row {
        margin: 5px 0.5px;
    }
}

.client {
    border: 0.5px solid rgb(242, 242, 255);
    box-shadow: 0.5px 1px 1.5px rgba(0,0,0,0.3);
    padding: 1em 0;
    border-radius: 5px;

}

/*** show client page **/
.aside-info-hub {
    margin-top: 2em;
    display: flex;
}
.information-btn {
    padding: 1em;
    border: 0.5px solid black; 

    text-align: center;
    width: 100%;
    cursor: pointer;
}

.icon {
    display: none;
}


.client-information {
    height: 70%;
    width: 100%;
   
    padding-top: 2em;
}
/**add client page **/

.add-client-form {
    margin: 0.5em 0;
}
/** client-personal-info partial ***/

.personal-info {

    small{
        text-align: center;
        color: white;
        display: block;
        margin: 0.5em auto;
    }
}

.create-new-loan {
    margin: 2.5em 0;
    border-top: 0.5px solid black;
}

.client-page-forms {
    margin: 1.5em 0; 
}

.client-input {
    display: block;
    width: 80%;
    padding: 0.5em 0.5em;
}
.client-label{
    margin-top: 1em;
}
.client-btn {
 
    width: 10em;
    color: white;
    border-radius: 25px;
    padding: 0.5em 0;
    border: none;
    display: block;
    margin: 2em auto;

}

/* loan info partial **/

.loan-schedule {
    margin-bottom: 2.5em;
    table {
        width: 100%;
        margin-top: 1.5em;
        th,td {
            padding: 0.5em;
            border: 0.5px solid black; 
            text-align: center; 
        }
    }
}

.other-loan-info {
    border-top: 0.5px solid black;
    padding: 1em 0;
    
    h3 {
        margin-bottom: 1em;
    }
    p {
        display: block;
        margin-bottom: 1em;
    }
}




/** sign up form **/

.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
    border-radius: 0;
}

.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
    h2 {
        color: #636363;
        text-align: center;
        margin: 0 0 15px;
    }
    form {
        border-radius: 1px;
        margin-bottom: 15px;
        background: #fff;
        border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
        padding: 30px;
    }

    a {
        color: #19aa8d;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    label {
        font-weight: normal;
        font-size: 13px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        min-height: 38px;
        box-shadow: none !important;
        border-width: 0 0 1px 0;
    }

    .input-group-addon {
        max-width: 42px;
        text-align: center;
        background: none;
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #e1e1e1;
        padding-left: 5px;
    }
    .btn {
        font-size: 16px;
        font-weight: bold;
        background: #19aa8d !important;
        border-radius: 3px;
        border: none;
        min-width: 140px;
    }
    .btn:hover {
        background: #179b81 !important;
    }

    .fa {
        font-size: 21px;
        position: relative;
        top: 8px;
    }
    .fa-paper-plane {
        font-size: 17px;
    }
    .fa-check {
        color: #fff;
        left: 9px;
        top: 18px;
        font-size: 7px;
        position: absolute;
    }
    .text-centre {
        text-align: center;
    }
}

/** modal styling **/
#myModal {
    
}

.payment-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#error-explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

@media only screen and (min-width: 767.98px) {
    .container {
        width: 100%;
    }
    .mobile-home {
        display: none;
    }
    /** navigation bar ***/

    /** navigation on sign up page **/
    .nav-sign {
        display: flex;
        justify-content: space-between;
    }

    /** other pages **/
    .mobile-cta, .mobile-menu-exit {
        display: none;
    }  
    
    .top-navbar{
        .navbar-brand {
            display: block;
            padding-left: 0;
        }
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .search-form {
        box-shadow: none;
        border: none;
    }
    .input {
        input {
            border: 0.5px solid lightblue;
            padding-left: 1em;
        }
    }
    .mobile-menu {
        display: block;
    }

    .navigation-links {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: inherit;  
        padding-right: 0;          
        ul {
            margin-top: 0;
            li {
                float: left;
                a {
                    padding-top: 0;
                    color: gray;
                    text-decoration: none;
                    &:hover {
                        font-weight: normal;
                    }
                }
            }
        }
    }
/** home page ***/

.user-stats {
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid lightblue;
    margin-top: 20px;
}

.stats-box {
    border: none;
    margin: 20px 0;
    width: 300px;
}

.user-stats > div:nth-child(2) {
    border-right: 0.5px solid lightblue;
    border-left:  0.5px solid lightblue;
}

.sec-text {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    background-color: inherit;
    color: black;
}

/** client show page **/
.show-client {
    display: flex;
}
.client-aside {
    padding-top: 4em;
}
#client-info {
    width: 72%;
    
}
.aside-info-hub{
    display: block;
    margin-top: 5em;
}
.icon {
    display: block;
    margin-right: 15px;
}
.information-btn {
    display: flex;
}

#personal-information {
   h3{
       text-align: center;
   }
}

#loan-info {
    h3{
        text-align: center;
    }
}

/** add client page **/
.client-form {
    h3 {
        text-align: center;
    }
   
    .add-client-form {
        width: 80%;
        margin: 0 auto;
    }
}


}

@media only screen and (min-width: 1080px) {
    .home{
        padding: 0.5em 2em;
        margin: 0 2em;
        border-radius: 25px;
    }
    .stats-box {
        width: 500px;
    }

    /** view client page **/

    .inner-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .inner-wrapper > * {
        flex-basis: 100%;
    }

    /** cliet info page **/
    .create-new-loan {
        border-top: none;
        margin-top: 0;
        form {
            padding-top: 2em;
            padding-left: 4em;
        }

    }
    .inner-wrapper > * + * {
        border-left: 0.5px solid lightblue;
    }
    .client-page-forms {
        input {
            width: 80%;
        }
    }

    /** loan info page */
    .other-loan-info {
        border-top: none;
        margin-top: 0;
        padding-left: 4em;
    }
    #loan-info {
        padding-bottom: 2em;
    }
    .loan-schedule {
        table {
            width: 80%
        }
       
    }

    .client-form{
        .form-client-add-page{
            display: flex;
            justify-content: space-evenly;
        }
        .form-client-add-page > * {
            
            flex-basis: 100%;
            margin: 2em 0;
        }

        .add-client-form {
            margin-bottom: 1.5em;
        }
    }

    .search-form {
        .input {
            width: 600px;
        }
    }
}
